---
services:
  wireguard:
    image: linuxserver/wireguard:version-v1.0.20210914
    cap_add:
      - NET_ADMIN
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=0
      - net.ipv4.conf.all.src_valid_mark=1
    networks:
      wgnet:
        ipv4_address: 172.100.0.2
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Stockholm
    ports:
      - "9091:9091/tcp"
    volumes:
      - /lib/modules:/lib/modules
      - ./wg0.conf:/config/wg_confs/wg0.conf
    healthcheck:
      test: ["CMD-SHELL", "wg show | grep -q handshake"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 10s
    restart: always
  transmission:
    image: linuxserver/transmission:4.1.0
    network_mode: "service:wireguard"
    depends_on:
      wireguard:
        condition: service_healthy
        restart: true
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Stockholm
    env_file:
      - ./transmission.env
    volumes:
      - ./transmission-config:/config
      - ./downloads:/downloads
      - ./watch:/watch
    restart: always

networks:
  wgnet:
    ipam:
      config:
        - subnet: 172.100.0.0/24
          ip_range: 172.100.0.0/24
          gateway: 172.100.0.1
    attachable: true
